@model List<dndhelper.Models.Event>

<h1>@ViewBag.CampaignName - Events</h1>

<p>
    @Html.ActionLink("Create New Event", "Create", new { campaignId = ViewBag.CampaignId })
</p>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Strength</th>
            <th>Dexterity</th>
            <th>Intelligence</th>
            <th>Luck</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Strength</td>
                <td>@item.Dexterity</td>
                <td>@item.Intelligence</td>
                <td>@item.Luck</td>
                <td>
                    @using (Html.BeginForm("Delete", "Events", new { id = item.Id }, FormMethod.Post))
                    {
                        <input type="submit" value="Delete" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this event?');" />
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
