@model List<dndhelper.Models.Event>

<h1>@ViewBag.CampaignName - Wydarzenia</h1>

<p>
    @Html.ActionLink("Stwórz nowe wydarzenie", "Create", new { campaignId = ViewBag.CampaignId })
</p>

<table class="table">
    <thead>
        <tr>
            <th>Nazwa postaci</th>
            <th>Siła</th>
            <th>Zręczność</th>
            <th>Inteligencja</th>
            <th>Siła</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Strength</td>
                <td>@item.Dexterity</td>
                <td>@item.Intelligence</td>
                <td>@item.Luck</td>
                <td>
                    @using (Html.BeginForm("Delete", "Events", new { id = item.Id }, FormMethod.Post))
                    {
                        <input type="submit" value="Usuń" class="btn btn-danger" onclick="return confirm('Na pewno chcesz usunąć to wydarzenie?');" />
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
