@model dndhelper.Models.CharacterGenerator

@{
    ViewData["Title"] = "Character Generator";
}
<header>
    <img src="\images\Elementy_strony\Character_generator.jpg" alt"Character_generator - header" />
</header>
<style>
    header img {
        width: 100%;
        display: block;
    }

    #race {
        width: 30%;
        display: block;
    }
</style>
<h1>Kreator Postaci: Tworzenie</h1>

@using (Html.BeginForm("Create", "CharacterGenerators", FormMethod.Post))
{
    @Html.HiddenFor(model => model.UserId)

    <div class="form-group">
        @Html.LabelFor(model => model.Name)
        @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Race)
        @Html.DropDownListFor(model => model.Race, Enum.GetValues(typeof(dndhelper.Models.CharacterGenerator.RaceEnum)).Cast<dndhelper.Models.CharacterGenerator.RaceEnum>().Select(e => new SelectListItem { Text = e.ToString(), Value = ((int)e).ToString() }), "- Select Race -", new { @class = "form-control", onchange = "displayRaceImage()" })
        @Html.ValidationMessageFor(model => model.Race, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Strength)
        @Html.TextBoxFor(model => model.Strength, new { @class = "form-control", oninput = "calculateRemainingPoints()" })
        @Html.ValidationMessageFor(model => model.Strength, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Dexterity)
        @Html.TextBoxFor(model => model.Dexterity, new { @class = "form-control", oninput = "calculateRemainingPoints()" })
        @Html.ValidationMessageFor(model => model.Dexterity, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Intelligence)
        @Html.TextBoxFor(model => model.Intelligence, new { @class = "form-control", oninput = "calculateRemainingPoints()" })
        @Html.ValidationMessageFor(model => model.Intelligence, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Luck)
        @Html.TextBoxFor(model => model.Luck, new { @class = "form-control", oninput = "calculateRemainingPoints()" })
        @Html.ValidationMessageFor(model => model.Luck, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.Label("Pozostałe punkty:")
        <span id="remainingPoints" class="text-success">25</span>
    </div>

    <div id="raceImageContainer" class="form-group">
        <img id="raceImage" src="" alt="Race Image" />
    </div>

    <input type="submit" value="Stwórz postać" class="btn btn-primary" onclick="return validatePoints()" />
}
<div>
    <a asp-action="Index">Powrót do listy</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        function calculateRemainingPoints() {
            var strength = parseInt(document.getElementById('Strength').value) || 0;
            var dexterity = parseInt(document.getElementById('Dexterity').value) || 0;
            var intelligence = parseInt(document.getElementById('Intelligence').value) || 0;
            var luck = parseInt(document.getElementById('Luck').value) || 0;
            var totalPoints = strength + dexterity + intelligence + luck;
            var remainingPoints = 25 - totalPoints;
            document.getElementById('remainingPoints').textContent = remainingPoints;
        }

        function validatePoints() {
            var remainingPoints = parseInt(document.getElementById('remainingPoints').textContent) || 0;
            if (remainingPoints !== 0) {
                alert('Please allocate all 25 points.');
                return false;
            }
            return true;
        }
    </script>
    <script id=race>
        function displayRaceImage() {
            var raceSelect = document.getElementById('Race');
            var raceValue = raceSelect.options[raceSelect.selectedIndex].value;
            var raceImage = document.getElementById('raceImage');

            if (raceValue === "0") {
                raceImage.src = "\images\Characters\Human.jpeg";
            } else if (raceValue === "1") {
                raceImage.src = "\images\Characters\Elf.jpeg";
            } else if (raceValue === "2") {
                raceImage.src = "\images\Characters\Dwarf.jpeg";
            } else if (raceValue === "3") {
                raceImage.src = "\images\Characters\Orc.jpeg";
            } else {
                raceImage.src = "\images\Characters\none.jpeg";
            }
        }
        displayRaceImage();
    </script>
}
