@model dndhelper.Models.CharacterGenerator

@{
    ViewData["Title"] = "Character Detail";
}
<header>
    <img src="\images\Elementy_strony\Character_generator.jpg" alt"Character_generator - header" />
</header>
<h1>Roll Dice</h1>
<style>
    header img {
        width: 100%;
        display: block;
    }
</style>
<h1>Character Details</h1>

<div class="row">
    <div class="col-md-6">
        <dl class="row">
            <dt class="col-sm-4">Name:</dt>
            <dd class="col-sm-8">@Model.Name</dd>

            <dt class="col-sm-4">Race:</dt>
            <dd class="col-sm-8">@Model.Race.ToString()</dd>

            <dt class="col-sm-4">Strength:</dt>
            <dd class="col-sm-8">@Model.Strength</dd>

            <dt class="col-sm-4">Dexterity:</dt>
            <dd class="col-sm-8">@Model.Dexterity</dd>

            <dt class="col-sm-4">Intelligence:</dt>
            <dd class="col-sm-8">@Model.Intelligence</dd>
        </dl>
    </div>
    <div class="col-md-6">
        <img src="@Url.Content("~/images/Characters/" + GetRaceImage(Model.Race.Value))" alt="Race Image" />
    </div>
</div>

<a asp-action="Index">Back to List</a>

@functions {
    public string GetRaceImage(dndhelper.Models.CharacterGenerator.RaceEnum race)
    {
        switch (race)
        {
            case dndhelper.Models.CharacterGenerator.RaceEnum.Human:
                return "Human.jpeg";
            case dndhelper.Models.CharacterGenerator.RaceEnum.Elf:
                return "Elf.jpeg";
            case dndhelper.Models.CharacterGenerator.RaceEnum.Dwarf:
                return "Dwarf.jpeg";
            case dndhelper.Models.CharacterGenerator.RaceEnum.Orc:
                return "Orc.jpeg";
            default:
                return "none.jpg";
        }
    }
}
