@model List<dndhelper.Models.Campaign>
<header>
    <img src="\images\Elementy_strony\Character_generator.jpg" alt"Character_generator - header" />
</header>

<style>
    header img {
        width: 100%;
        display: block;
    }
</style>
<h1>Campaigns</h1>

<p>
    @Html.ActionLink("Create New Campaign", "Create")
</p>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var campaign in Model)
        {
            <tr>
                <td>@campaign.Name</td>
                <td>
                    @Html.ActionLink("View Events", "Index", "Events", new { campaignId = campaign.Id, campaignName = campaign.Name }, null)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@campaign.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@campaign.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@campaign.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
