@model List<dndhelper.Models.Campaign>
<header>
    <img src="\images\Elementy_strony\Campaign.jpg" alt="Campaign - header" />
</header>

<style>
    header img {
        width: 100%;
        display: block;
        color: white;
    }

    table, th, td {
        color: white;
    }
</style>

<h1>Lista twoich kampanii</h1>

<p>
    @Html.ActionLink("Stwórz nową kampanię", "Create")
</p>

<table class="table">
    <thead>
        <tr>
            <th>Nazwa kampanii</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var campaign in Model)
        {
            <tr>
                <td>@campaign.Name</td>
                <td>
                    @Html.ActionLink("Wyświetl wydarzenia", "Index", "Events", new { campaignId = campaign.Id, campaignName = campaign.Name }, null)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@campaign.Id">Edytuj</a> |
                    <a asp-action="Delete" asp-route-id="@campaign.Id">Usuń</a>
                </td>
            </tr>
        }
    </tbody>
</table>
